@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>


       
    }
}

<div
    <b2>
     <img src="http://graphics8.nytimes.com/images/2013/05/21/technology/21-baby/21-baby-custom1.gif"</img>
     <img src="http://iruntheinternet.com/lulzdump/images/simpsons-transparent-homer-walking-back-into-bush-clear-background-1405186554p.gif?id="</img>
     <img src="https://data.256media.ie/wp-content/uploads/2015/07/tumblr_mimi12jHA01ruaoizo1_500.gif"<.img>
    </b2>
  </div>

